/*mobile */
.hide, svg {
  display: none;
}

header {
  background-color: #ffc017;
  /* display: flex;
  flex-direction: column; */
}

.logo img {
  width: 150px;
}
.logo {
  align-self: center;
  display: flex;
}
h1 {
  font-size: 38px;
  font-weight: 500;
}
header p {
  font-size: 18px;
}

.header-top,
.header-bottom {
  border-bottom: 1px solid black;
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: grey;
}

.header-top {
  justify-content: space-between;
  padding: 1em;
  font-family: "roboto", serif;


}

header nav {
  display: flex;
  gap: 1em;
  align-items: center;
}

.header-bottom {
  flex-direction: column;
  gap: 1em;
  padding: 3em 2em 3em 1em;

  font-family: "Spectral", sans-serif;
}

header button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 1em;
  cursor: pointer;
}

.header-bottom button {
  width: 150px;
  font-size: 16px;
  border-radius: 30px;
} /* ricontrollare */

/*main*/

main {
  font-family: "roboto", sans-serif;
  /* display: flex;
flex-direction: column;
justify-content: space-evenly */
  padding: 2em 1em;
}
.first-section {
  display: flex;
  flex-direction: column;
  gap: 2em;
  border-bottom: 1px solid gray; /*cambiare, non arriva ai margini della pagina*/
}

h2 {
  font-size: 18px;
  font-weight: bold;
}
.trending {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}

.article-first-section {
  display: flex;
  gap: 1em;
}
.date {
  display: flex;
  justify-content: space-between;
}

.number {
  font-size: 30px;
  font-weight: 900;
  color: #e6e6e6;
}

strong {
  font-weight: bold;
}

.name-picture {
  display: flex;
  gap: 1em;
}

.profile-picture {
  border-radius: 50%;
}
.name-picture p {
  display: flex;
  align-self: center;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.date {
  color: grey;
}

h4 {
  font-weight: 600;
}
.gray{color: gray;}
.second-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
  border-bottom: 1px solid gray;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.buttons {
  display: flex;
  gap: 2em;
}

.buttons-section-two button {
  background-color: white;
  border: 1px solid gray;
  padding: 1em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.third-section{display: flex;
flex-direction: column;
gap:2em;}

menu{list-style-type: none;
color:rgb(35, 28, 28)/*rivedi colore*/;
display: flex;
gap: 2em;
flex-wrap: wrap;
margin-bottom: 2em;}


.article-third-section{display: flex;
    /* gap:1em
} */}

.third-article-img{width:40%}

h3{font-weight: 700;
font-size: 20px;
margin-bottom: 0.5em;}

.text p{color: gray;}

.date-category{color: gray;
display: flex;
justify-content: space-between;
align-items: center;}

.bookmark{display: flex;}
.category{background-color: rgb(230, 227, 227);
    padding: 0.4em;
border-radius: 30px;
}
